a, .prevnext {
  text-decoration: none;
}

.direct-link {
  text-decoration: none;
  opacity: 0.2;
  font-size: smaller;
}

.direct-link:hover {
  text-decoration: none;
  opacity: 1;
}

.nav a {
  text-decoration: none;
}

.nav li {
  list-style: none
}

.nav>ul>li {
  padding-top: 2em;
}

/* improve layout of News page */
article li ul {
  margin-bottom: 1em;
}

