<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Mops - aMops, iMops, Powermops</title>
</head>
<body>
<main>
        <h1>Mops</h1>
        <p>A full featured, stand-alone development
        environment for programming the Macintosh written by <em>Mike Hore</em>.
        Inspired by <a href="https://en.wikipedia.org/wiki/Smalltalk">Smalltalk</a>
        and the commercial language
        <a href="https://wiki.c2.com/?NeonLanguage">Neon</a>,
        Mops is based on
        <a href="https://en.wikipedia.org/wiki/Forth_(programming_language)">Forth</a>
        with extended object-oriented features
        such as multiple inheritance, early and late binding,
        persistent objects, and garbage collection.
        &nbsp;&nbsp;<a href="/About">More...</a></p>
        <p>With over 30 years of development and use, the Mops
            family is battle-tested.
        </p>
    <section>
        <aside>
            <h3>aMops</h3>
            <p><em>Here be dragons.</em> Mike's latest work includes an
            all new code generator for the ARM family of processors.</p>
            <ul>
                <li>Manual</li>
                <li><a href="https://sourceforge.net/projects/powermops/files/aMops-CG/">Download</a></li>
            </ul>
        </aside>
        <aside>
            <h3>iMops</h3>
            <p>The <em>current</em> version with x86 code generation.</p>
            <ul>
                <li>Manual<ul>
                    <li><a href="http://s.powermops.org/imops/internals.pdf">Internals</a><small>&nbsp;PDF</small></li>
                    <li><a href="http://s.powermops.org/imops/classreference.pdf">Class Reference</a><small>&nbsp;PDF</small></li>
                    <li><a href="http://s.powermops.org/imops/nodegraph.pdf">Node Graph</a><small>&nbsp;PDF</small></li>
                </ul></li>
                <li><a href="https://sourceforge.net/projects/powermops/files/iMops/">Download</a></li>
            </ul>
        </aside>
        <aside>
            <h3>Powermops</h3>
            <p><em>Where it all started.</em> A complete development system
                for PowerPC-based Macs.  (And up until version 4.0.4,
                Motorola 680x0 Macs!)</p>
            <ul>
                <li><a href="/pmops/OpenMeFirst">Open Me First</a></li>
                <li><a href="/pmops/">Documentation</a></li>
                <li><a href="/pmops/FAQ">FAQ</a></li>
                <li><a href="https://sourceforge.net/projects/powermops/files/PowerMops/">Download</a></li>
            </ul>
        </aside>
        <aside>
            <h3>MAX</h3>
            <p><em>Mike's ArXitecture:</em> Floating point and capabilities-based 
                runtime.</p>
            <ul>
                <li>Manual</li>
                <li><a href="https://sourceforge.net/projects/powermops/files/MAX/">Download</a></li>
            </ul>
        </aside>
    </section>
    <hr>
    <section id="more">
        <h2>Go Deeper!</h2>
        <ul>
            <li><a href="/News">Latest news</a></li>
            <li>The best way to connect with the community is through the
            <a href="https://sourceforge.net/p/powermops/mailman/powermops-users/">mailing list</a>.</li>
        </ul>
    </section>
</main>
</body>
</html>
