---

---

<footer>
 Copyright 2003-2022 Mike Hore and the Powermops community
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/80x15.png"></a>
</footer>

<style>
footer {
  margin-top: auto;
  padding: 2rem 0;
  border-top: 3px solid var(--theme-divider);
  font-size: small;
  font-weight: lighter;
}
</style>
