---
var data = Astro.fetchContent('../**/*.md');
let pComponents = Astro.request.url.pathname.split('/');
let pageName = pComponents[pComponents.length-1];
let p = pageName.split('_');
let pageNo = (p.length < 2) ? 0 : parseInt(p[1], 10);
let prev = {
  no: pageNo-1,
  path: '',
  title: '',
}
let next = {
  no: pageNo+1,
  path: '',
  title: '',
}
prev.path = Astro.request.url.pathname.replace(/_\d+/, '_' + prev.no);
next.path = Astro.request.url.pathname.replace(/_\d+/, '_' + next.no);

for (const page of data) {
  if (page.url == prev.path) {
    prev.title = page.title;
  }
  if (page.url == next.path) {
    next.title = page.title;
  }
}
---

<div class="pnrow">
  <div class="pnl">{prev.title != "" && <a href={prev.path}>&#11164;&nbsp;{prev.title}</a>}</div>
  <div class="pnc">&nbsp;<br>&nbsp;</div>
  <div class="pnr">{next.title != "" && <a href={next.path}>{next.title}&nbsp;&#11166;</a>}</div>
</div>

<style>
.pnrow {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.pnc {
  text-align: center;
}
.pnr {
  text-align: right;
}
</style>
